<h3>Редактировать курс {{course.title}}</h3>
<div class="row">
    <form action="/courses/edit" method="POST" class="col s6">
        <div class="input-field">
            <input 
                placeholder="Название" 
                id="title" name="title" 
                type="text" 
                class="validate" 
                required 
                value="{{course.title}}"
            >
            <label for="title">Название курса</label>
            <span class="helper-text" data-error="Введите название">Название курса</span>
        </div>
        <div class="input-field">
            <input 
                placeholder="Цена" 
                id="price" name="price" 
                type="text" 
                class="validate" 
                required 
                min="1" 
                value="{{course.price}}"
            >
            <label for="price">Цена курса</label>
            <span class="helper-text" data-error="Введите цену">Цена курса</span>
        </div>
        <div class="input-field">
            <input 
                placeholder="Картинка" 
                id="img" 
                name="img" 
                type="text" 
                class="validate" 
                required
                value="{{course.img}}"
            >
            <label for="img">URL картинки</label>
            <span class="helper-text" data-error="Введите URL картинки">URL картинки</span>
        </div>
        <div class="input-field" type="hidden">
            <input 
                placeholder="Картинка" 
                id="id" 
                name="id" 
                type="text" 
                required
                value="{{course.id}}"
            >
        </div>
        <button class="btn btn-primary">Редактировать курс</button>
    </form>
</div>